.top {
	width: 800px;
	height: 202px;
}


/*普通用户看到的中左部分*/
.left {
	width:220px;

	border-left:1px dashed;
	border-right:1px dashed;
	float:left;
}
.ad_info_top {
	width:220px;
	height:25px;
	float:left;
	background-color: #EDEDED;
	float:left;
	border-top:1px dotted;
	border-bottom: 1px dotted;	
}
.ad_info_search_title {
	width:220px;
	height:25px;
	float:left;
	background-color: #EDEDED;
	float:left;
	border-top:1px dotted;
	border-bottom: 1px dotted;
}
.lianxi {
	width:220px;
	height:25px;
	float:left;
	background-color: #EDEDED;
	float:left;
	border-top:1px dotted;
	border-bottom: 1px dotted;
}
.ad_info_top span{
	margin-left: 10px;
	margin-top: 3px;
	display: block;
	float:left;
}
.ad_info_search_title span{
	margin-left: 10px;
	margin-top: 3px;
	display: block;
	float:left;
}
.lianxi span {
	margin-left: 10px;
	margin-top: 3px;
	display: block;
	float:left;
}
.ad_info_list{
	width:220px;
	height:230px;
	background-color: #fefef6;
	float:left;
	line-height: 18px;
}
.ad_info_list ul {
	padding-left: 0px;
	
}
.ad_info_list li {
	list-style-type: none;
	margin-lift:10px;
	
}

.info_search {
	background-image:url("../images/query.gif");
	width:220px;
	height:103px;
	margin-left:3px;
	margin-top:5px;
	display:block;
	float:left;
}

.lianxiUS {
	margin-left: 15px;
	margin-top:5px;
	display:block;
	float:left;
}
.right {
	width:560px;
	float:left;
	border-right:1px dashed;
}
.fufei {
	width:560px;
	height:27px;
	float:left;
}
.fufei_info {
	width:560px;
	height:220px;
	float:left;
	background-color: white;
	margin-left:5px;
	margin-top:5px;
}
.freeinfo {
	width:560px;
	float:left;
	background-color: white;
	margin-left:5px;
	margin-top:5px;
}
.fufei_info table {
	width:500px;
	margin-left:10px;
	margin-top:5px;
	border-collapse: collapse;
	line-height: 23px;
	float:left;
}
.freeinfo table {
	width:500px;
	margin-left:10px;
	margin-top:5px;
	border-collapse: collapse;
	line-height: 23px;
	float:left;
}
.guanggao {
	width:560px;
	height:100px;
	float:left;
}
.free_title {
	width:560px;
	height:27px;
	float:left;
}
.bottom {
	width: 780px;
	height:57px;
	background-image: url("../images/bottom_bg.gif");
	float:left;
}
.bottom span{
	margin-left:350px;
	margin-top:20px;
	display:block;
}

.fenye {
	float:right;
}