.top {
	width: 800px;
	height: 202px;
}
.mianfei_title {
	width:563px;
	height:27px;
	float:left;
}
.mianfei_area {
	background-image: url("../images/eject.gif");
	width:679px;
	height:443px;
	float:left;
}
.mianfei_area table {
	margin-left: 23px;
	margin-top:30px;
	float:left;
	border-collapse: collapse;
	line-height: 30px;
}