.top {
	width: 800px;
	height: 202px;
}
.fufei {
	width:560px;
	height:27px;
	float:left;
}
.fufei_info {
	width:560px;
	float:left;
	background-color: white;
	margin-left:5px;
	margin-top:5px;
}
.fufei_info span {
	margin-left:5px;
	margin-top:5px;
	float:left;
}
.freeinfo {
	width:560px;
	float:left;
	background-color: white;
	margin-left:5px;
	margin-top:5px;
}
.fufei_info table {
	width:500px;
	margin-left:10px;
	margin-top:5px;
	border-collapse: collapse;
	line-height: 23px;
	float:left;
}
.freeinfo table {
	width:500px;
	margin-left:10px;
	margin-top:5px;
	border-collapse: collapse;
	line-height: 23px;
	float:left;
}
.bottom {
	width: 780px;
	height:57px;
	background-image: url("../images/bottom_bg.gif");
	float:left;
}
.bottom span{
	margin-left:350px;
	margin-top:20px;
	display:block;
}