<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoUserIndexServlet</servlet-name>
    <servlet-class>com.jiangtao.controller.GoUserIndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ClickServlet</servlet-name>
    <servlet-class>com.jiangtao.controller.ClickServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>publishServlet</servlet-name>
    <servlet-class>com.jiangtao.controller.publishServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.jiangtao.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.jiangtao.controller.AdminServlet</servlet-class>
  </servlet>




<!--中文乱码处理过滤-->  
    <filter>
        <filter-name>EncodingFilter</filter-name><!--过滤器名称-->
        <filter-class>com.jiangtao.filter.SetCharacterEncodingFilter2</filter-class><!--过滤器类名称，包括包名一致、写全 -->
        <init-param><!--初始化参数,要指定的字符集编码 -->
            <param-name>encoding</param-name><!--参数名称 -->
            <param-value>utf-8</param-value><!--参数值 -->
        </init-param>
        
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern> <!--“/*”表示项目下所有资源 -->
    </filter-mapping>
  <servlet-mapping>
    <servlet-name>GoUserIndexServlet</servlet-name>
    <url-pattern>/GoUserIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClickServlet</servlet-name>
    <url-pattern>/ClickServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>publishServlet</servlet-name>
    <url-pattern>/publishServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>

</web-app>